<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.springMP.Student" name="s1">
		<property name="id">
			<value>123</value>
		</property>
		<property name="name">
			<value>Dhruv</value>
		</property>
		<property name="city">
			<value>Amreli</value>
		</property>
	</bean>


	<bean class="com.springMP.Student" name="s2">
		<property name="id">
			<value>1234</value>
		</property>
		<property name="name">
			<value>DK</value>
		</property>
		<property name="city">
			<value>Bhavnagar</value>
		</property>
	</bean>
</beans>